<!-- new-game.page.html -->

<div class="new-game-content">

  <!-- FIX: Add a new back button -->
  <button class="back-button" (click)="goBack()">
    <span class="material-symbols-outlined">arrow_back</span>
  </button>

  <button class="home-button" (click)="goHome()">
    <span class="material-symbols-outlined">home</span>
  </button>

  <div class="logo-container">
    <img src="assets/storyloopwhite.png" alt="StoryLoop Logo" />
  </div>

  <div class="button-group">
    <button class="game-button" (click)="generateIdea()">Generate idea</button>
    <button class="game-button" (click)="createIdea()">Create idea</button>
    <button class="game-button" (click)="generateLocationIdea()">Generate idea based on location</button>
  </div>

</div>